@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet);

@font-face{
  font-family:'FontAwesome';
  font-weight:normal;
  font-style:normal;
  src:url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
  src:url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
  url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
  url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
  url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
  url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}



[class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1.5em;
  margin-right: .5em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 2em;
  margin-left: .5em;
}

.fa-facebook::before { content:  '\f09a'; } /* '' */
.fa-linkedin::before { content:  '\f0e1'; } /* '' */
.fa-twitter::before { content: "\f099"; } /* '' */ 
.fa-heart::before { content: "\f004"; } /* '' */ 


/*==================================*/



/* ==========================================================================
Nachertanie chrifta
========================================================================== */
body{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #6c7279;
  margin:0;
}

p {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279; }

  h1 {
    font-size: 65px;
    color: #2d3033; }

    h2 {
      font-size: 40px;
      color: #2d3033; }

      h3 {
        font-size: 28px;
        color: #2d3033;
        font-weight: 300; }

        h4 {
          font-size: 22px;
          color: #2d3033;
          font-weight: 400; }

          h5 {
            font-size: 14px;
            color: #2d3033;
            text-transform: uppercase;
            font-weight: 700; }

            a {
              color: #e84545;
              text-decoration: none; }
              a:hover, a:focus {
                text-decoration: none;
                -moz-transition: background-color, color, 0.3s;
                -o-transition: background-color, color, 0.3s;
                -webkit-transition: background-color, color, 0.3s;
                transition: background-color, color, 0.3s; }
                ul, ol {
                  margin: 0;
                  padding: 0; }

                  ul li {
                    list-style: none; }
                    /* ==========================================================================*/




                    /* ========================HEADER=============================*/
                    #header{
                      width: 100%;
                      
                    }
                    .header_main{
                      background: #000 url(../img/banner.png);
                      background-position: center top;
                      background-repeat: no-repeat;
                      -moz-background-size: cover;
                      -o-background-size: cover;
                      -webkit-background-size: cover;
                      background-size: cover;
                      min-height: 750px;
                    }
                    .position_block_header{
                      max-width: 1170px;
                      padding: 40px 0;
                      width: 100%;
                      -moz-transition: padding 0.3s;
                      -o-transition: padding 0.3s;
                      -webkit-transition: padding 0.3s;
                      transition: padding 0.3s;
                      margin: 0 auto;
                    }
                    .clearfix::after{
                      content:"";
                      display: table;
                      clear: both;
                    }
                    /*=======================</HEADER>=======================================*/
                    .header_menu_main{
                      padding-bottom:40px;
                      margin-bottom: 10%;
                      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                    }

                  }
                  .logo{
                    float: left;
                    position:fixed;

                  }

                  .navigation {
                    float: right; }
                    .navigation li {
                      display: inline-block; }
                      .navigation a {
                        color: rgba(255, 255, 255, 0.75);
                        font-size: 13px;
                        font-weight: 700;
                        margin-left: 40px;
                        text-transform: uppercase; }
                        .navigation a:hover, .navigation a.active {
                          color: #fff; }

                          .title h1{
                            font-family: 'Open-sans', sans-serif;
                            font-size: 65px;
                            width: 77%;
                            color: #fff;
                            width: 80%;
                            margin: 0 auto;
                            margin-bottom: 40px;
                            text-align: center;
                            text-transform: uppercase;
                          }
                          .title p{
                            font-family: 'Myriad Pro', sans-serif;
                            font-size: 22px;
                            width: 77%;
                            color: #fff;
                            margin: 0 auto;
                            font-weight: 300;
                            line-height: 1.5;
                            text-align: center;
                            margin-bottom: 80px;
                          }
                          .btn_knopka{
                            width: 200px;
                            background: #FF4343;
                            text-align: center;
                            margin: 0 auto;
                            margin-bottom: 150px;
                            padding: 15px 0 15px 0;
                            border-radius: 4px;
                          }
                          .btn_knopka a{
                            color: #fff;
                            text-decoration: none; 
                            font-weight: 600;
                          }
                          .btn_knopka a:hover{
                            text-decoration: underline;
                            opacity: 0.8;
                          }
                          /* ==========================================================================*/




                          /* =============================Feature====================================*/

                          .feature_post{
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            margin: 150px 0 150px 0;
                          }
                          .feature{
                            width: 30%;
                            margin-bottom: 100px;
                          }
                          .feature:nth-child(4),
                          .feature:nth-child(5),
                          .feature:nth-child(6){
                            margin-bottom: 0;
                          }
                          .feature_img{
                           display: flex;
                           justify-content: center;
                           margin-bottom: 20px;
                         }
                         .feature h3{
                          text-align: center;
                          font-weight: bold;
                          margin-bottom: 20px;
                          text-transform: uppercase;
                          font-size: 14px;
                        }
                        .feature p{
                          font-family: 'Raleway';
                          color: rgb( 108, 114, 121 );
                          line-height: 1.5;
                          font-size: 14px;
                          text-align: justify;
                          line-height: 1.5;
                          width: 80%;
                          margin: 0 auto;
                        }

                        /* ==============================</Feature>============================================*/




                        /* ==============================<Images_many>============================================*/
                        .pict_alles{
                          max-width: 100%; 
                          margin: 0 auto;


                        }
                        .pictures{
                          position: relative;
                          width: 25%;
                          float: left;
                          outline: 1px solid #ffffff;
                        }

                        .pictires a{
                          display: block;
                          height: 350px;
                        }
                        .pictures_img{
                          width: 100%;
                          height: 350px;
                        }
                        .pictures_active{
                          position: absolute;
                          left: 0;
                          top: 0;
                          display: none;
                          width: 100%;
                          height: 350px; 
                          background: #db4544;
                          opacity: 0.8;
                          
                        }
                        .pictures_active h3{
                          font-family: 'Raleway', 'Arial' sans-serif;
                          color:#fff;
                          text-transform: uppercase;
                          font-size: 18px;
                          padding: 150px 0 10px 0;
                          font-weight: 700;
                          text-align: center;
                        }
                        .pictures_active p{
                          text-align: center;
                          font-size: 16px;
                          font-family: 'Raleway', 'Arial' sans-serif;
                          color: #fff;
                          
                        }
                        .pictures:nth-child(3) .pictures_active{
                          display: block;
                        }
                        .pictures:hover .pictures_active{
                          display: block;
                        }

                        /* ==============================</Images_many>============================================*/


                        /* ==============================<Our Team>============================================*/
                        .team_all{
                          width: 100%;
                          display: flex;
                          justify-content: space-between;
                          flex-wrap: wrap; /*многострочный контейнер*/
                          padding: 100px 0;
                        }
                        .team_information{
                          width: 22%;
                        }
                        .team_information h3{
                          font-family: 'Raleway', sans-serif;
                          font-size: 22px;
                          color: rgb(87,89,92);
                          margin-top: 20px;
                          letter-spacing: 1.5;
                        }
                        .team_information h3 span{
                          color: rgb(232,69,69);
                          font-size: 13px;
                          text-transform: uppercase;
                          font-family: 'Raleway', sans-serif;
                          font-weight: 300;
                          margin: 15px 0 25px 0;
                          display: block;
                        }
                        .team_information p{
                          color: 6c7279;
                          font-size: 14px;
                          text-align: justify;
                          line-height: 1.6;
                          margin-bottom: 35px;
                        }


                        /* ==============================</Our Team>============================================*/


                        a.icon_social_team{
                          display: inline-block;
                          font-size: 25px;
                        }
                        a.icon_social_team>i::before{
                          border: 2px solid #E8ECEE;
                          width: 55px;
                          height: 55px;
                          color: #C6CACC;
                          margin: 0;
                          line-height: 55px;
                        }
                        a.icon_social_team>i:hover{
                          opacity: 0.6;
                        }








                        /* ==============================<Footer>============================================*/
                        .footer_main{
                          width: 100%;
                          margin-bottom: 10px;
                        }
                        .footer_social{
                          background: #3a3e64;
                          min-height: 250px;
                        }
                        .footer_copyright{
                          background: #313454;
                        }
                        .footer_within{
                          width: 100%;
                          display: flex;
                        }
                        .footer_within > div{
                          width: 33%;
                          justify-content: space-between;
                        }
                        .footer_within h3{
                          font-weight:600;
                          color: #fff;
                          text-align: center;
                          text-transform: uppercase;
                          margin-top: 20%;
                          margin-bottom: 5%;
                          font-size: 14px;
                          letter-spacing: 1.2;
                        }
                        .footer_within p{
                          width: 90%;
                          margin: 0 auto;
                          text-align: center;
                          margin-bottom: 20%;
                          color: #6E728C;
                          font-weight: 600;
                        }
                        .social_icon{
                          display: flex;
                          justify-content: space-between;
                          width: 40%;
                          margin: 0px auto;
                        }
                        .social_icon a{
                          color: #fff;
                          border: 4px solid #fff;
                          margin-right: 10px;
                        }
                        .social_icon a:hover{
                          opacity: 0.5;
                        }

                        .copyright i{
                          color: #e84545;
                        }
                        .copyright span{
                          color: #fff;
                        }

                        .copyright{
                          font-size: 14px;
                          color: #808080;
                          padding: 30px;
                          width: 50%;
                          margin: 0 auto;
                          text-align: center;
                        }
                        /* ==============================</Footer>============================================*/

                        /* ==============================New_Block============================================*/
                        *{
                          box-sizing: border-box;
                        }

                        section{
                          display: block;
                        }

                        a{
                          text-decoration: none;
                        }

                        .section {
                          padding: 100px 0;
                        }

                        .container {
                          width: 100%;
                          padding-right: 15px;
                          padding-left: 15px;
                          margin-right: auto;
                          margin-left: auto;
                        }

                        .container:before{
                          display: table;
                          content: " ";
                        }

                        .container:after{
                          display: table;
                          content: " ";
                          clear:both;
                        }

                        .text-center{
                          text-align: center;
                        }

                        .col-md-8 {
                          width: 50%;
                          padding-right: 15px;
                          padding-left: 15px;
                          margin: 0 auto;
                        }

                        .download h3 {
                          margin-top: 0;
                          font-size: 28px;
                          color: #2d3033;
                          font-weight: 300;
                          margin-bottom: 10px;
                          font-family: inherit;
                          line-height: 1.1;
                        }

                        .download p {
                          color: #2d3033;
                          font-weight: 600;
                          text-transform: uppercase;
                          font-size: 14px;
                          line-height: 22.4px;
                          margin: 0 0 10px;
                        }

                        .download #btn {
                          margin-top: 30px;
                          padding: 15px 40px;
                          background-color: #e84545;
                          color: #fff;
                          font-size: 13px;
                          font-weight: 600;
                          border: 0;
                          border-radius: 2px;
                          display: inline-block;
                          text-transform: uppercase;
                        }







